<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{contact.name}}</h2>
    <div class="row">
      <div class="col-xs-12" style="display: flex; justify-content: space-between; align-items: center">
        <img src={{contact.imageUrl}} alt="" class="img-responsive" style="max-height: 80px">
        <div>
          <a [routerLink]="['/contacts', contact.id, 'edit']" class="btn btn-primary">Edit</a>
          <a (click)="onDelete()" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p><b>Email:</b> {{contact.email}}</p>
    <p><b>Phone:</b> {{contact.phone}}</p>
  </div>
</div>
