<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Placeholder Name</h2>
    <div class="row">
      <div class="col-xs-12" style="display: flex; justify-content: space-between;">
        <img src="../../assets/images/jacksonk.jpg" alt="" class="img-responsive" style="max-height: 50px">
        <div>
            <button class="btn btn-primary" style="margin-right: .5rem;">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
      <p><b>Email:</b> placeholder@gmail.com</p>
      <p><b>Phone:</b> 123-456-7890</p>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Contact Name</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"><button class="btn btn-primary dropdown-toggle">
        Manage Contact <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">Email</div>
</div>
<div class="row">
  <div class="col-xs-12">Phone</div>
</div> -->
